template(name="volume_page")
	div.volume_page
		header
			ul.icons
				li.volumeTotal
					h2.b 
						|{{_ 'volumeTotal'}}
						span
							|: {{volumeTotal}} {{_ "volumeMetrics"}} {{_ 'volumeEstime'}}
					p.value 
						span
							{{volumeTotal}}<small>{{_ "volumeMetrics"}}</small>
						small
							|{{_ 'volumeEstime'}}
				li.scotch
					h2 
						|{{_ 'scotch'}}
						span
							|: {{nbScotchs}}
					i.picto
					p.value {{nbScotchs}}
					button.buy-btn.small.vert(type='button') {{_ "buy"}}
				li.boxes
					h2 
						|{{_ 'boxes'}}
						span
							|: {{nbBoxes}} 
					i.picto
					p.value {{nbBoxes}}
					button.buy-btn.small.vert(type='button') {{_ "buy"}}
				li.carVolume
					h2 
						|{{_ 'carVolume'}}
						span
							|: {{carVolume}}{{_ 'volumeMetrics'}}
					i.picto
					p.value {{carVolume}}{{_ 'volumeMetrics'}}
					button.buy-btn.small.vert(type='button') {{_ "book"}}
				li.bras
					h2 
						|{{_ 'nbArms'}}
						span
							|: {{nbArms}}
					i.picto
					p.value {{nbArms}}
					button.buy-btn.small.vert(type='button') {{_ "invite"}}
			div.redaction
				div
					h1 {{_ 'volumePageTitle'}}
					p {{_ 'volumePageSubTitle'}}
		article
			div.objects-block
				each rooms
					{{> room_item}}
				div.room-item.new
					form(action='#')
						div.room-item-header
							{{> inputAutocomplete settings=roomTitleSettings class="form-control" placeholder=labelNewRoom}}
						div.faplus
							i.fa.fa-plus

		footer
			div.send-valuation-block
				div.valuation-title
					| {{_ 'valuationTitle'}}
				div.valuation-cellphone
					| Tel: {{adaCellPhone}}
			ul.partners-list
				each partners
					{{> partner_item}}

				// button.vert.send-btn(type='button')
				// 	i.fa.fa-comment
				// 	| {{_ 'valuationButton'}}


template(name='room_item')
	div.room-item(id="{{_id}}")
		div.room-item-header
			{{> inputAutocomplete settings=roomTitleSettings class="form-control" placeholder="Tapez le nom de cette pièce" value=title }}
			i.fa.fa-pencil.update
			button.small.delete
				i.fa.fa-times

		ul.room-item-objects
			each roomObjects
				{{> room_item_object}}
			li.room-item-new-object
				{{> inputAutocomplete settings=volumeObjectSettings id="newVolumeObject" class="form-control" name="newVolumeObject" placeholder="Tapez un nouvel objet" }}
		div.room-item-total-title {{_ 'volumeTotalRoom'}}
			div.total-volume {{volumeTotal}}{{_ 'volumeMetrics'}}

template(name='room_item_object')
	li
		input.object-quantity(type='text', placeholder='...', value="{{quantity}}")
		input.object-title(type='text', placeholder='...', value="{{title}}")
		input.object-volume(type='text', placeholder='...', value="{{volume}}")
		span.object-volume-unity {{_ 'volumeMetrics'}}
		i.fa.fa-times.delete

template(name='volume_object_item')
	| {{title}}

template(name='volume_object_no_match')
